[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
bs4 = "*"
tzlocal = "*"
dash = "*"
numpy = "*"
gunicorn = "*"
dash-bootstrap-components = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
